<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Primary Meta Tags -->
    <title>NguyenLP Land - Property Buy & Seles</title>
    <meta name="title" content="Property Buy & Seles HTML Template" />
    <meta name="description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://xirosoft.com/demo/rents-html/" />
    <meta property="og:title" content="Property Buy & Seles HTML Template" />
    <meta property="og:description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />
    <meta property="og:image" content="https://xirosoft.com/demo/rents-html/assets/images/preview.jpeg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://xirosoft.com/demo/rents-html/" />
    <meta property="twitter:title" content="Property Buy & Seles HTML Template" />
    <meta property="twitter:description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />
    <meta property="twitter:image" content="https://xirosoft.com/demo/rents-html/assets/images/preview.jpeg" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/f-icon" />
    <meta name="keywords" content="rents, template, property" />
    <meta name="author" content="https://xirosoft.com" />

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/introduce.css">
</head>

<body>
    <div class="creat-form-signup" style="display: none;">
        <form class="form-signup" onsubmit="signup()">
            <div class="title-close">
                <h1>Đăng Ký</h1>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="icon-form-signup">
               <p class="with-social"><i class="fa-brands fa-google"></i>Đăng ký với Google</p> 
               <p class="with-social"><i class="fa-brands fa-facebook-f"></i>Đăng ký với Facebook</p> 
            </div>
            <hr>
            <label><h4>Họ và tên</h4> <input class="name-signup" type="text" placeholder="Họ và tên"></label>
            <label><h4>Tài khoản</h4> <input class="user-signup" type="text" placeholder="Username"></label>
            <label><h4>Mật khẩu</h4> <input class="pass-signup" type="password" placeholder="Password"></label>
            <div class="btn-signup">
                <button class="btn-login">Đăng Ký</button>
            </div>
            <hr>
            <div class="have-account">
                <p>Bạn đã tạo tài khoản rồi? <p class="next-page-form page-account-login">&nbsp; Đăng nhập</p></p>
            </div>
        </form>
    </div>
    <div class="creat-form-login" style="display: none;">
        <form class="form-signup" onsubmit="login()">
          

            <div class="title-close">
                <h1>Đăng Nhập</h1>
                <i class="fa-solid fa-xmark  cloese-login"></i>
            </div>

            <div class="icon-form-signup">
                <p class="with-social"><i class="fa-brands fa-google"></i>Đăng nhập với Google</p> 
                <p class="with-social"><i class="fa-brands fa-facebook-f"></i>Đăng nhập với Facebook</p> 
            </div>
            <hr>

            <label><h4>Tài khoản</h4> <input class="user-login" type="text" placeholder="Username"></label>
            <label><h4>Mật khẩu</h4> <input class="pass-login" type="password" placeholder="Password"></label>
           <div class="save-pass-login"> <input type="checkbox"> <p>&nbsp;Lưu mật khẩu</p> </div>
            <div class="btn-signup">
                <button class="btn-login">Đăng Nhập</button>
            </div>
            <hr>
            <div class="have-account">
                <p>Bạn chưa tạo tài khoản rồi? <p class="next-page-form page-account-signup">&nbsp; Đăng ký</p></p>
            </div>
        </form>
    </div>
    <!-- Header Start  -->
    <header class="header-section">
        <nav class="nav">
            <div class="container">
                <!-- Header Wrap Start  -->
                <div class="header-wrap">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="header-menu">
                        <ul class="main-menu">
                            <li><a href="index.html">Trang Chủ</a></li>
                            <li><a href="#"  class="active">Giới Thiệu</a></li>
                            <li><a href="products.html">Sản Phẩm</a></li>
                            <li><a href="news.html">Tin Tức</a></li>
                            <li><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                    <div class="header-meta">
                        <a href="#contact" class="btn btn-outline me-3 btn-login-form">Đăng Nhập</a>
                        <a href="#contact" class="btn btn-primary btn-signup-form">Đăng Ký</a>
                        <!-- Header Toggle Start -->
                        <div class="header-toggle d-lg-none">
                            <button class="toggler-btn">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                </div>
                <!-- Header Wrap End  -->
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
        <div class="path-page"><a href="index.html">Trang chủ </a><i class="fa-solid fa-angle-right"></i> <p>Giới Thiệu</p></div>
        <div class="about-content">
            <h2 class="title-about">Về Chúng Tôi</h2>
            <span class="sum-title-about">Hơn một năm hình thành và phát triển, NGUYENLP LAND luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất.
            </span>
        </div>
        <div class="section-img"><img src="./assets/images/banner.jpeg" alt=""></div>
        <div class="swiper-wrapper-about">
            <div class="about-item">
                <div class="title-about-item">
                    <img src="./assets/images/about_1_icon.jpeg" alt="">
                    <b>HOÀI BẢO</b>
                </div>
                <p>Hoài bão của chúng tôi là đưa NGUYENLP LAND trở thành một công ty trong lãnh vực BDS uy tín, hùng mạnh và đóng góp vào sự phát triển phồn thịnh của đất nước.</p>
            </div>
            <div class="about-item">
                <div class="title-about-item">
                    <img src="./assets/images/about_2_icon.jpeg" alt="">
                    <b>TRIẾT LÝ KINH DOANH</b>
                </div>
                <p>Một doanh nghiệp thành công và phát triển bền vững chỉ khi các thành viên đều sẵn sàng phục vụ khách hàng bằng tất cả niềm đam mê, sức mạnh của kỷ luật.</p>
            </div> 
            <div class="about-item">
                <div class="title-about-item">
                    <img src="./assets/images/about_3_icon.jpeg" alt="">
                    <b>SỨ MỆNH</b>
                </div>
                <p>
                    Sứ mệnh của NGUYENLP LAND là đặt chất lượng cuộc sống khách hàng trở thành ưu tiên số 1 để đem lại sự an tâm và lợi ích phát triển cho khách hàng, góp phần tích cực vào một xã hội
                </p>
            </div> 
            <div class="about-item">
                <div class="title-about-item">
                    <img src="./assets/images/about_4_icon.jpeg" alt="">
                    <b>GIÁ TRỊ CỐT LÕI</b>
                </div>
                <p>Ứng xử VĂN MINH – Hành xử TRUNG THỰC Bản thân CẦU TIẾN – Thi hành KỶ LUẬT Đồng nghiệp TƯƠNG TRỢ – Chủ động.</p>
            </div>
        </div>
        <hr class="hr-about">
        <div class="content-about-bot">
            <p>Cung cấp đến khách hàng một tiêu chuẩn sống đẳng cấp vượt trội mới, đây là sự kết hợp hoàn chỉnh giữa bất động sản nhà ở và hệ thống dịch vụ tiêu chuẩn cao tại những khu đô thị quy mô hàng đầu Việt Nam mang đẳng cấp quốc tế do Vingroup đầu tư.
    
                Với tầm nhìn chiến lược và phát triển bền vững, mỗi khu đô thị trong hệ thống Vinhomes đều tọa lạc tại các vị trí trung tâm Hà Nội và thành phố Hồ Chí Minh, hội tụ những giá trị vượt trội: Sản phẩm nhà ở chất lượng cao; Dịch vụ tại gia chuyên nghiệp; Môi trường sống xanh, sạch; Văn hóa cộng đồng nhân văn; An ninh – An toàn được đảm bảo; và Tiện ích đồng bộ, đầy đủ.</p>
                <div class="img-about"><img src="./assets/images/house-01.jpeg" alt=""></div>
                <p>Với Vinhomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng, hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
    
                    Các khu đô thị mang thương hiệu Vinhomes sẽ luôn là sự lựa chọn hoàn hảo cho quý vị.</p>
        </div>
    </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="widget">
                        <a href="#" class="logo">
                            <img src="assets/images/logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">THÔNG TIN</h5>
                                <ul class="widget__list">
                                    <li>TT. Gio Linh, Gio Linh, Quảng Trị 520000, Việt Nam</li>
                                    <li>0763 636 535</li>
                                    <li>lphuonguye.ecn.2182004@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">LIÊN KẾT</h5>
                                <ul class="widget__list">
                                    <li><a href="">Giới thiệu</a></li>
                                    <li><a href="">Blogs</a></li>
                                    <li><a href="">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">HỖ TRỢ</h5>
                                <ul class="widget__list">
                                    <li>Chính sách</li>

                                    <li>Tư vấn khách hàng</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->

    <!-- copyright arean start -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright__wrapper">
                        <p class="text">Copyright © 2023 All Rights Reserved</p>
                        <img class="payment-image" src="assets/images/payment.png" alt="payment-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright arean end -->

    <!-- JS -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.waypoints.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>