<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Primary Meta Tags -->
    <title>NguyenLP Land - Property Buy & Seles</title>
    <meta name="title" content="Property Buy & Seles HTML Template" />
    <meta name="description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://xirosoft.com/demo/rents-html/" />
    <meta property="og:title" content="Property Buy & Seles HTML Template" />
    <meta property="og:description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />
    <meta property="og:image" content="https://xirosoft.com/demo/rents-html/assets/images/preview.jpeg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://xirosoft.com/demo/rents-html/" />
    <meta property="twitter:title" content="Property Buy & Seles HTML Template" />
    <meta property="twitter:description"
        content="Rents is an property buy and seles websites template. This is a clean and modern template that you can use for your rental or property buy/selling business website. this is fully responsive with 100% Retina readiness which means it will be able to adapt to any screen size or resolution." />
    <meta property="twitter:image" content="https://xirosoft.com/demo/rents-html/assets/images/preview.jpeg" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/f-icon" />
    <meta name="keywords" content="rents, template, property" />
    <meta name="author" content="https://xirosoft.com" />

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/news.css">
</head>

<body>
    <div class="creat-form-signup" style="display: none;">
        <form class="form-signup" onsubmit="signup()">
            <div class="title-close">
                <h1>Đăng Ký</h1>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="icon-form-signup">
               <p class="with-social"><i class="fa-brands fa-google"></i>Đăng ký với Google</p> 
               <p class="with-social"><i class="fa-brands fa-facebook-f"></i>Đăng ký với Facebook</p> 
            </div>
            <hr>
            <label><h4>Họ và tên</h4> <input class="name-signup" type="text" placeholder="Họ và tên"></label>
            <label><h4>Tài khoản</h4> <input class="user-signup" type="text" placeholder="Username"></label>
            <label><h4>Mật khẩu</h4> <input class="pass-signup" type="password" placeholder="Password"></label>
            <div class="btn-signup">
                <button class="btn-login">Đăng Ký</button>
            </div>
            <hr>
            <div class="have-account">
                <p>Bạn đã tạo tài khoản rồi? <p class="next-page-form page-account-login">&nbsp; Đăng nhập</p></p>
            </div>
        </form>
    </div>
    <div class="creat-form-login" style="display: none;">
        <form class="form-signup" onsubmit="login()">
          

            <div class="title-close">
                <h1>Đăng Nhập</h1>
                <i class="fa-solid fa-xmark  cloese-login"></i>
            </div>

            <div class="icon-form-signup">
                <p class="with-social"><i class="fa-brands fa-google"></i>Đăng nhập với Google</p> 
                <p class="with-social"><i class="fa-brands fa-facebook-f"></i>Đăng nhập với Facebook</p> 
            </div>
            <hr>

            <label><h4>Tài khoản</h4> <input class="user-login" type="text" placeholder="Username"></label>
            <label><h4>Mật khẩu</h4> <input class="pass-login" type="password" placeholder="Password"></label>
           <div class="save-pass-login"> <input type="checkbox"> <p>&nbsp;Lưu mật khẩu</p> </div>
            <div class="btn-signup">
                <button class="btn-login">Đăng Nhập</button>
            </div>
            <hr>
            <div class="have-account">
                <p>Bạn chưa tạo tài khoản rồi? <p class="next-page-form page-account-signup">&nbsp; Đăng ký</p></p>
            </div>
        </form>
    </div>
    <!-- Header Start  -->
    <header class="header-section">
        <nav class="nav">
            <div class="container">
                <!-- Header Wrap Start  -->
                <div class="header-wrap">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="header-menu">
                        <ul class="main-menu">
                            <li><a href="index.html">Trang Chủ</a></li>
                            <li><a href="introduce.html">Giới Thiệu</a></li>
                            <li><a href="products.html">Sản Phẩm</a></li>
                            <li><a href="#" class="active">Tin Tức</a></li>
                            <li><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                    <div class="header-meta">
                        <a href="#contact" class="btn btn-outline me-3 btn-login-form">Đăng Nhập</a>
                        <a href="#contact" class="btn btn-primary btn-signup-form">Đăng Ký</a>
                        <!-- Header Toggle Start -->
                        <div class="header-toggle d-lg-none">
                            <button class="toggler-btn">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                </div>
                <!-- Header Wrap End  -->
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
        <div class="path-page"><a href="index.html">Trang chủ </a><i class="fa-solid fa-angle-right"></i> <p>Tin Tức</p></div>
        <div class="page-news">
        <div class="news-more">
            <h2 class="title-news-more">Danh mục bài viết</h2>
            <ul>
                <li><a href=""> Biệt Thự - Nhà Phố (10)</a></li>
                <hr>
                <li><a href=""> Căn Hộ (8)</a></li>
                <hr>
                <li><a href=""> Đất Nền (14)</a></li>
                <hr>
                <li><a href=""> Tin Tức (32)</a></li>
            </ul>
            <h2 class="title-news-more more">Tin tức xem nhiều nhất</h2>
            <div class="item-news-more">
                <img src="./assets/images/vinpearl-ha-long-bay-resort-0.jpeg" alt="">
                <h3><a href="">Xuất hiện căn hộ cao cấp làm mê mẩn giới thượng lưu</a></h3>
            </div>
            <hr>
            <div class="item-news-more">
                <img src="./assets/images/9401.jpeg" alt="">
                <h3><a href="">Tiếp tục rà soát, đánh giá những bất cập liên quan đến tích tụ đất đai</a></h3>
            </div>
            <hr>
            <div class="item-news-more">
                <img src="./assets/images/a7.jpeg" alt="">
                <h3><a href="">Chính sách ưu đãi có một không hai khi đầu tư BĐS nghỉ dưỡng tại Khánh Hòa</a></h3>
            </div>
            <hr>
            <div class="item-news-more">
                <img src="./assets/images/36-1-kmey.jpeg" alt="">
                <h3><a href="">Hà Nội phê duyệt chỉ giới đường đỏ tuyến đường khu đô thị Gia Lâm tới ga Phú Thị</a></h3>
            </div>
        </div>
        <div class="news-container">
            <div class="news-main">
                <img src="./assets/images/banner.jpeg" alt="">
                <div class="content-news-main">
                    <h3 class="title-news-main">Xuất hiện căn hộ cao cấp làm mê mẩn giới thượng lưu</h3>
                    <span class="time-post"><i class="fa-solid fa-calendar-days"></i>Thứ Fri, 17/08/2018</span>
                    <span class="cmt-post"><i class="fa-solid fa-comments"></i>(2)Bình luận</span>
                    <p class="descript">Venice luôn đứng đầu trong danh sách những thành phố lãng mạn nhất không chỉ ở Italy mà trên toàn thế giới. Và nói đến Sky89 người ta sẽ liên tưởng ngay...</p>
                    <button> <a href="" class="btn-custome">Xem chi tiết</a></button> 
                </div>
            </div>
            <hr>
            <div class="items-news">
                <div class="news-main">
                    <img src="./assets/images/house-01.jpeg" alt="">
                    <div class="content-news-main">
                        <h3 class="title-news-main">Tiếp tục rà soát, đánh giá những bất cập liên quan đến tích tụ đất đai</h3>
                        <span class="time-post"><i class="fa-solid fa-calendar-days"></i>Thứ Fri, 17/08/2018</span>
                        <span class="cmt-post"><i class="fa-solid fa-comments"></i>(0)Bình luận</span>
                        <p class="descript">Đại biểu Quốc hội Phạm Đình Cúc, Đoàn đại biểu Quốc hội tỉnh Bà Rịa - Vũng Tàu chất vấn Phó Thủ tướng Trịnh Đình Dũng: Việc tập trung ruộng đất cùng với quá trình cơ cấu lại ngành nông nghiệp để th...</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="items-news">
                <div class="news-main">
                    <img src="./assets/images/vinhomes-giang-vo.jpeg" alt="">
                    <div class="content-news-main">
                        <h3 class="title-news-main">Chính sách ưu đãi có một không hai khi đầu tư BĐS nghỉ dưỡng tại Khánh Hòa</h3>
                        <span class="time-post"><i class="fa-solid fa-calendar-days"></i>Thứ Fri, 17/08/2018</span>
                        <span class="cmt-post"><i class="fa-solid fa-comments"></i>(0)Bình luận</span>
                        <p class="descript">Tổng cục Du lịch dự báo năm 2018 du lịch Việt Nam dự kiến đón 15,5-16 triệu lượt khách quốc tế, tổng thu ước tính 620 nghìn tỷ đồng. Trong trong 7 tháng đầu năm lượng du khách quốc tế đến Việt Nam...</p>
                    </div>
                </div>
            </div>
            <hr><div class="items-news">
                <div class="news-main">
                    <img src="./assets/images/house-02.jpeg" alt="">
                    <div class="content-news-main">
                        <h3 class="title-news-main">Hà Nội phê duyệt chỉ giới đường đỏ tuyến đường khu đô thị Gia Lâm tới ga Phú Thị
                        </h3>
                        <span class="time-post"><i class="fa-solid fa-calendar-days"></i>Thứ Fri, 17/08/2018</span>
                        <span class="cmt-post"><i class="fa-solid fa-comments"></i>(0)Bình luận</span>
                        <p class="descript">Tổng chiều dài tuyến đường là 775m, điểm đầu giao với tuyến đường B=40m thuộc quy hoạch chi tiết khu đô thị Gia Lâm và điểm cuối giao với đường quy hoạch B=22m tiếp giáp với ga Phú Thị, tuyến đường...</p>
                    </div>
                </div>
            </div>
            <hr><div class="items-news">
                <div class="news-main">
                    <img src="./assets/images/house-03.jpeg" alt="">
                    <div class="content-news-main">
                        <h3 class="title-news-main">Buổi gặp gỡ cộng đồng cư dân danh giá tương lai của dự án Dragon Fairy
                        </h3>
                        <span class="time-post"><i class="fa-solid fa-calendar-days"></i>Thứ Fri, 17/08/2018</span>
                        <span class="cmt-post"><i class="fa-solid fa-comments"></i>(0)Bình luận</span>
                        <p class="descript">Ngày 19.08 tới đây, tại Trung tâm hội nghị Gem Center – 08 Nguyễn Bỉnh Khiêm, phường Đa Kao, Tp.HCM, công ty TNHH Cao Ốc 89 phối hợp với công ty CP Bất động sản UniHomes tổ chức Lễ giới thiệu dự án...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="widget">
                        <a href="#" class="logo">
                            <img src="assets/images/logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">THÔNG TIN</h5>
                                <ul class="widget__list">
                                    <li>TT. Gio Linh, Gio Linh, Quảng Trị 520000, Việt Nam</li>
                                    <li>0763 636 535</li>
                                    <li>lphuonguye.ecn.2182004@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">LIÊN KẾT</h5>
                                <ul class="widget__list">
                                    <li><a href="">Giới thiệu</a></li>
                                    <li><a href="">Blogs</a></li>
                                    <li><a href="">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget__title">HỖ TRỢ</h5>
                                <ul class="widget__list">
                                    <li>Chính sách</li>

                                    <li>Tư vấn khách hàng</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->

    <!-- copyright arean start -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright__wrapper">
                        <p class="text">Copyright © 2023 All Rights Reserved</p>
                        <img class="payment-image" src="assets/images/payment.png" alt="payment-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright arean end -->

    <!-- JS -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.waypoints.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>