.btn {
    font-family: $default;
    font-size: 16px;
    font-weight: $primary;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 10px 20px !important;
    border-radius: 8px;
    transition: $transition;

    &:hover {
        background-color: $primary;
        color: $white;
    }

    &-primary {
        color: $white;
        background-color: $primary;

        &:hover {
            background-color: darken($primary, 20);
        }
    }

    &-secondary {
        background-color: #E0EAFF;
        color: $heading;
        border-color: transparent;

        &:hover {
            color: $white;
            background-color: $primary;
            border-color: transparent;
        }
    }

}