footer {
    background: $primary-bg;
    padding: 100px 0;

    @include respond(tabland) {
        padding: 60px 0 36px;
    }
}


.copyright {
    background-color: $primary;
    padding: 12px;
    color: $white;

    &__wrapper {
        @include flexbox($jc: space-between, $a: center);

        @include respond(phone) {
            flex-direction: column-reverse;
            justify-content: center;

            .text {
                margin-top: 25px;
            }
        }

        .text {
            font-size: 14px;
            font-weight: $medium;
            line-height: 20px;
            letter-spacing: 0em;
            margin-bottom: 0;
        }

        .payment-image {
            width: 100%;
            max-width: 225px;
        }
    }
}