section {
    // padding: 130px 0;
    padding: clamp(46px, calc((100% / 1920) * 130), 130px) 0;

}

.section-header {
    font-family: $default;
    text-align: left;
    text-transform: capitalize;
    @include flexbox($a: center, $jc: space-between);

    &__content {
        width: 100%;
        max-width: 400px;

        .sub-title {
            font-size: 18px;
            font-weight: $medium;
            line-height: 28px;
            letter-spacing: 0em;
            color: $primary;
            margin-bottom: 16px;
            text-transform: uppercase;
            position: relative;
            @include flexbox($jc: flex-start, $a: center);

            @include respond(tabport) {
                font-size: 16px;
                margin-bottom: 8px;
            }

            @include respond(phone) {
                font-size: 14px;
                margin-bottom: 4px;
            }

            &::before {
                content: '';
                width: 35px;
                height: 2px;
                display: inline-block;
                background-color: currentColor;
                margin-right: 16px;

                @include respond(tabport) {
                    width: 25px;
                    margin-right: 8px;
                }
            }
        }

        .title {
            font-size: 36px;
            font-weight: $bold;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: $heading;
            margin-bottom: 0;

            @include respond(tabport) {
                font-size: 28px;
                line-height: 36px;
            }

            @include respond(phone) {
                margin-bottom: 16px;
                font-size: 24px;
                line-height: 32px;
            }
        }

        .text {
            font-size: 16px;
            font-weight: $regular;
            line-height: 24px;
            letter-spacing: 0em;
            color: $content;
            margin-top: 20px;
            margin-bottom: 25px;
        }

        &.v2 {
            max-width: inherit;
            padding: 24px 0;
        }
    }

    &__action {
        font-size: 16px;
        font-weight: $medium;
        line-height: 24px;
        letter-spacing: 0em;
        color: $heading;
        white-space: nowrap;

        @include respond(phone) {
            font-size: 14px;
        }

        a {
            @include flexbox($jc: flex-start, $a: center);
            flex-grow: nowrap;
            color: currentColor;
        }

        .icon {
            margin-left: 6px;
            transition: $transition;

            img {
                width: auto;
                height: 24px;

                @include respond(tabport) {
                    width: 25px;
                }
            }
        }

        &:hover {
            .icon {
                transform: translateX(8px);
            }
        }

        // navs
        button {
            border: none;
            background-color: transparent;
        }

    }

    &+.section-content {
        margin-top: 50px;
    }
}

.section-banner {
    img {
        border-radius: 16px;
    }

    &.combain {
        display: flex;
        flex-wrap: nowrap;
        // position: relative;

        .short-img {
            margin-right: 16px;
            width: 250px;
            position: relative;
        }

        .big-img {
            margin-top: 30px;
        }

        // img {
        //     &:nth-of-type(1) {
        //     }

        //     &:nth-of-type(2) {
        //     }
        // }

        .playBtn {
            width: 60px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $primary;
            @include flexbox($jc: center, $a: center);
            animation: pulse-animation 2s infinite;
            position: absolute;
            top: 50%;
            right: -8px;
            transform: translate(50%, -50%);

            img {
                width: 24px;
                aspect-ratio: 1/1;
                display: block;
                margin: auto;
            }
        }
    }
}

.icon-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;

    @include respond(phone) {
        margin-bottom: 24px;
    }


    li {
        font-size: 16px;
        font-weight: $medium;
        line-height: 24px;
        letter-spacing: 0em;
        margin-bottom: 16px;
        @include flexbox($jc: flex-start, $a: center);
        flex-wrap: nowrap;
        color: $content;

        .icon {
            margin-right: 10px;

            img {
                width: 20px;
                aspect-ratio: 1/1;
            }
        }
    }
}




@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba($white, 0.8);
    }

    100% {
        box-shadow: 0 0 0 20px rgba($white, 0);
    }
}