.mb-8 {
  margin-bottom: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[8\.5rem\] {
  height: 9.5rem;
}

.h-auto {
  height: auto;
}

.min-h-screen {
  min-height: 100vh;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-full {
  width: 100%;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-\[\#E8F0FC\] {
  --tw-border-opacity: 1;
  border-color: rgb(232 240 252 / var(--tw-border-opacity));
}

.border-\[\#a5abb5\] {
  --tw-border-opacity: 1;
  border-color: rgb(165 171 181 / var(--tw-border-opacity));
}

.bg-\[\#0957CB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(9 87 203 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.text-\[\#0957CB\] {
  --tw-text-opacity: 1;
  color: rgb(9 87 203 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-\[\#0957CB\]:hover {
  --tw-text-opacity: 1;
  color: rgb(9 87 203 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .md\:col-start-2 {
    grid-column-start: 2;
  }

  .md\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .md\:row-start-1 {
    grid-row-start: 1;
  }

  .md\:row-start-2 {
    grid-row-start: 2;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .md\:gap-y-0 {
    row-gap: 0px;
  }
}
.bg-green-500 {
  background-color: green;
}
.px-4 {
  padding-left: 30px;
}
